@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

:root {
  --font-sans: 'Outfit', sans-serif;
}

body {
  font-family: var(--font-sans);
  @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-white transition-colors duration-300;
}

/* Custom Utilities if needed */
.glass-panel {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}